/* CSS declarations go here */

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight:400;
  background-color:#d3e4f1;
  margin-bottom: 67px;
}

.textpanel {
  background-color: #fff7dd;
  padding: 11px 19px 1px 19px;
  margin: 5px 10px 25px;
  border: solid 1px #6493b8; /*#52a1d9;*/
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 0 0 0 4px #b0d5f1;
  -webkit-box-shadow: 0 0 0 4px #b0d5f1;
  box-shadow: 0 0 0 4px #b0d5f1;
}

.legal {
  color: #666;
  font-size: 85%;
}
.legal-title {
  font-size: 95%;
  font-weight: bold;
  margin-top: 25px;
}
.legal a {
  color: #444;
}
.legal-block {
  margin-bottom: 67px;
}


li .city-hidden {
  background-color: #ecc;
  color: #b88;
  border: 1px #f88 dashed;
}


div.bs-docs-section {
  margin-bottom: 75px;
}


.navbar-inverse .navbar-nav > li > a.active-nav  {
  color: #fff;
  background-color: #444;
  font-weight: bold;
}

.navbar-brand {
  font-family: 'Exo 2';
  font-size: 175%;
}

.dropdown-submenu {
    position: relative;
}

.navbar-fixed-bottom .dropdown .dropdown-menu {
	margin-bottom: -32px;
}

.dropdown-submenu>.dropdown-menu {
    left: 100%;
    margin-left: -1px;
    -webkit-border-radius: 6px 6px 6px 0;
    -moz-border-radius: 6px 6px 0;
    border-radius: 6px 6px 6px 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
