<template name="adminEditCouncil">
	<div class="container bs-docs-container">
		<div class="bs-docs-section">
			<h1 class="page-header">
				{{#if name}}
					Editing <b>{{name}}</b>
				{{else}}
				  New council
				{{/if}}
			</h1>
			<form class="edit-council form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="council_name">Name:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="council_name" required
							value="{{name}}">
					</div>
					<div class="col-sm-3">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="council_hidden" checked="{{hidden}}">
								Hidden
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="city_list">City:</label>
					<div class="col-sm-6">
						<select class="form-control" name="city_list">
							{{#each cities}}
						    <option value="{{_id}}" {{selectList _id ../city_id}}>{{name}}</option>
						  {{/each}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="timeframe_start">Start:</label>
					<div class="col-sm-2">
						<input type="date" name="timeframe_start"
								value="{{formatDate timeframe.start 'YYYY-MM-DD'}}">
					</div>
					<label class="col-sm-2 control-label" for="timeframe_finish">Finish:</label>
					<div class="col-sm-2">
						<input type="date" name="timeframe_finish"
								value="{{formatDate timeframe.finish 'YYYY-MM-DD'}}">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">
							{{#if name}}
								Save <b>{{name}}</b>
							{{else}}
								Create new council
							{{/if}}
						</button>
						<button class="btn btn-default return-admin">Cancel</button>
					</div>
				</div>
			</form>
		</div>

		{{#if name}}
			<h2>{{name}} Motions</h2>

			{{! > adminListCouncils}}
		{{/if}}
	</div>
</template>
