<template name="admin">
	<head>
		<title>{{AppName}} Admin</title>
	</head>

	<body>
		<div class="container bs-docs-container">
			{{#unless currentUser}}
				<div class="row">
					<div class="pull-right">
						{{> loginButtons}}
					</div>
				</div>
		  {{else}}
				<div class="row">
					<div class="pull-right">
						{{> loginButtons}}
					</div>
					<h1>Hi, Administrator {{currentUser.username.toTitleCase}}!</h1>
					{{> adminListCities}}
					{{> adminListCouncils}}
					{{> adminEditContact}}
					{{> adminEditAbout}}
				</div>
			{{/unless}}
		</div>
	</body>
</template>
