<template name="adminListCities">
	{{#adminSectionWrapper title="Bloc&rsquo;d cities"}}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>City</th>
					<th class="text-center">Councils</th>
					<th class="text-center">Hidden</th>
				</tr>
			</thead>
			<tbody>
				{{#each cities}}
					<tr>
						<td><a href="/admin/editCity/{{_id}}">{{name}}</a></td>
						<td class="text-center">{{num_councils _id}}</td>
						<td class="text-center"><input type="checkbox" checked="{{hidden}}" class="toggle-hidden"></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<div class="text-center">
			<button class="new-city btn btn-primary" type="submit">
				<span class="glyphicon glyphicon-plus"></span> New city
			</button>
		</div>
	{{/adminSectionWrapper}}
</template>
