<template name="adminListCouncils">
	{{#adminSectionWrapper title="Councils"}}
		<table class="table table-striped">
			<thead>
				<tr>
					<td>City</td>
					<th>Council</th>
					<th class="text-center">Councillors</th>
					<th class="text-center">Start</th>
					<th class="text-center">Finish</th>
					<th class="text-center">Motions</th>
					<th class="text-center">Hidden</th>
				</tr>
			</thead>
			<tbody>
				{{#each councils}}
					<tr>
						<td>{{council_city city_id}}</td>
						<td><a href="/admin/editCouncil/{{_id}}">{{name}}</a></td>
						<td class="text-center">{{councillors.length}}</td>
						<td class="text-center">{{formatDate timeframe.start 'D MMMM YYYY'}}</td>
						<td class="text-center">{{formatDate timeframe.finish 'D MMMM YYYY'}}</td>
						<td class="text-center">{{motions.length}}</td>
						<td class="text-center"><input type="checkbox"
								checked="{{hidden}}" class="toggle-hidden"></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<div class="text-center">
			<button class="new-council btn btn-primary" type="submit">
				<span class="glyphicon glyphicon-plus"></span> New council
			</button>
		</div>
	{{/adminSectionWrapper}}
</template>
