<template name="contact">
	<head>
	  <title>{{AppName}} - Contact</title>
	</head>

	<div class="container">
		<div class="row">

			<h1>{{#markdown}}{{contact_elements.heading}}{{/markdown}}</h1>

			{{#markdown}}{{contact_elements.description}}{{/markdown}}

			<h1>{{#markdown}}{{contact_elements.creators.heading}}{{/markdown}}</h1>

			<div class="col-sm-8">
				<div id="svg-about"></div>
			</div>

			<div class="col-sm-4">
				<div class="textpanel buffer" id="bios">
					{{#markdown}}{{contact_elements.creators.description}}{{/markdown}}
				</div>
			</div>

		</div>
	</div>
</template>
