<template name="nav">
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">{{AppName}}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {{> cityMenu}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick help<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Drag the circles around to reposition councillors, if the names end up overlapping or you want to position the blocs differently.</li>
            </ul>
          </li>
          <li><a href="/contact" {{classIfActive '/contact' 'active-nav'}}>Contact</a></li>
          <li><a href="/about" {{classIfActive '/about' 'active-nav'}}>About</a></li>
					<li><a href="/admin" {{classIfActive '/admin' 'active-nav'}}><span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
